<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" enableAnsiOutput="false" DetectOutputRedirected="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">
    </target>

    <target name="infoFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}" fileName="${basedir}/Logs/info.log" keepFileOpen="false" encoding="iso-8859-2" />
    <target name="errorFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}" fileName="${basedir}/Logs/error.log" keepFileOpen="false" encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <!-- Write Info and higher logs to infoFile -->
    <logger name="*" minlevel="Info" writeTo="infoFile" />
    <!-- Write Error and higher logs to errorFile -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />

  </rules>
</nlog>